absl-py
abstract_singleton
aiohttp
aiosignal
altgraph
anyio
astunparse
async-generator
async-timeout
asynctest
attrs
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake
backoff
beautifulsoup4
black
blinker
blis
cachetools
catalogue
certifi
cffi
cfgv
chardet
charset-normalizer
chromadb
click
clickhouse-connect
colorama
coloredlogs
confection
contourpy
coverage
cryptography
cssselect
cycler
cymem
dataclasses-json
distlib
distro
dnspython
docker
duckdb
duckduckgo-search
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
et-xmlfile
exceptiongroup
execnet
fastapi
filelock
flake8
flaky
Flask
flatbuffers
fonttools
frozenlist
gast
ghp-import
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
greenlet
grpcio
gTTS
h11
h5py
hnswlib
httpcore
httplib2
httptools
httpx
humanfriendly
identify
idna
iniconfig
isort
itsdangerous
Jinja2
jsonschema
keras
keyboard
kiwisolver
langchain
langchainplus-sdk
langcodes
libclang
loguru
lxml
lz4
Markdown
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
mccabe
mergedeep
messagebox
mkdocs
monotonic
MouseInfo
mpmath
msedge-selenium-tools
multidict
murmurhash
mypy
mypy-extensions
nodeenv
numexpr
numpy
oauthlib
onnxruntime
openai
openapi-python-client
openapi-schema-pydantic
openpyxl
opt-einsum
orjson
outcome
overrides
packaging
pandas
pathspec
pathy
pefile
Pillow
pinecone-client
platformdirs
playsound
pluggy
posthog
pre-commit
preshed
prompt-toolkit
protobuf
psutil
pulsar-client
py-cpuinfo
pyasn1
pyasn1-modules
PyAutoGUI
pycodestyle
pycparser
pycryptodome
pydantic
pyflakes
pygame
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
pylatexenc
pymdown-extensions
PyMsgBox
pyOpenSSL
pyparsing
PyPDF2
pyperclip
PyQt5
PyQt5-Qt5
PyQt5-sip
pyreadline3
PyRect
pyrsistent
PyScreeze
PySide2
PySocks
pytesseract
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
pytest-recording
pytest-xdist
python-dateutil
python-docx
python-dotenv
pytweening
pytz
pywin32
pywin32-ctypes
PyYAML
pyyaml_env_tag
readability-lxml
redis
regex
requests
requests-oauthlib
rsa
selenium
sentencepiece
shellingham
shiboken2
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
tiktoken
tokenizers
tomli
torch
tqdm
trio
trio-websocket
tweepy
typer
types-beautifulsoup4
types-colorama
types-html5lib
types-Markdown
types-Pillow
typing-inspect
typing_extensions
uritemplate
urllib3
urllib3-secure-extra
uvicorn
vcrpy @ git+https://github.com/Significant-Gravitas/vcrpy.git@2f6fa05ae3518b1c0e92e63c3d12ecf5cf82cd48
virtualenv
wasabi
watchdog
watchfiles
wcwidth
webdriver-manager
websocket-client
websockets
Werkzeug
win32-setctime
wincertstore
wrapt
wsproto
yarl
zstandard
